.ControlPanel {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
}

.TextArea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.Submit {
    display: block;
    margin: 0 auto;
}

.SignIn {
    display: block;
    margin: 0 auto;
}

.Avatar {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.SignOut {
    display: inline-block;
    vertical-align: middle;
}

.SignOutForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}